.details{
    display: none;
    position: absolute;
    top: 4.7rem;
    right: 2rem;
    background-color: white;
    padding: 2rem 0.5rem;
    line-height: 2;
    border: 1px solid rgba(128, 128, 128, 0.466);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.imageHover{
    cursor: pointer;
}
.imageHover:hover ~ .details{
    display: block;
    cursor: pointer;
}
.details:hover{
    display: block;
    cursor: pointer;
}

