<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/custom.css" />
</head>

<body>
  <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
  <main class="flex items_center">
    <div class="container flex box_shadow bg_new">
      <div class="left flex-46 flex">
        <img
          src="https://www.novative.com/wp-content/uploads/2020/11/Expense-Mgt-Software-Functionalities-2240x1120.jpg"
          alt="">
      </div>
      <div class="right flex-46 flex items_center">

        <div class="">
          <h1>Expense Tracker</h1>
          <div class="login flex justify_between items_center">
            <a href="/auth/google">
              <img src="/images/google.png" alt="google image">
            </a>

            <a href="/auth/github">
              <img class="github" src="/images/github.jpg" alt="github image">
            </a>
          </div>

          <div class="manual_login">
            <a class="login_new" href="users/login">
              Login
            </a>
            <a href="users/register">
              <button class="register">Register</button>
            </a>
          </div>

        </div>
      </div>
  </main>
</body>

</html>