<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <div class="container">
       <div class="flex justify_center items_center form_div">
          <form method="POST" action="/users/register" class="flex-46">
            <p>Register form</p>
            <input name="username" placeholder="username" type="text" />
            <input name="email" placeholder="email" type="email" />
            <input name="password" placeholder="password" type="password" />
            <input class="submit" type="submit" value="register" />
          </form>
       </div>
      </div>
    </main>
  </body>
</html>
