html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-weight: bolder;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  /* background-color: aqua; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* custom styles  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justify_between {
  justify-content: space-between;
}
.items_center {
  align-items: center;
}
.left {
  height: 80vh;
}
.right {
  height: 80vh;
}

.flex-46 {
  flex: 0 1 46%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-100 {
  flex: 0 1 100%;
}
img {
  width: 100%;
}
.header {
  font-size: 0.8rem;
}
.font-1-5 {
  font-size: 1.5rem;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}
.box_shadow {
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.8),
    0px 0px 3px rgba(0, 0, 0, 0.5);
}
a {
  color: black;
  text-decoration: none;
}
.border-bottom {
  border-bottom: 2px solid grey;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form input,
form select {
  margin: 1rem;
  width: 10rem;
}
.flex-main {
  display: flex;
  /* justify-content: space-between; */
}
.categories {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
}
.results article {
  /* border: 2px solid grey; */
  padding: 2rem;
  margin-top: 0.5rem;
}
.display {
  flex: 0 1 80%;
}
p,
h3 {
  margin: 1rem 0rem;
}
.green {
  border: 2px solid rgba(0, 128, 0, 0.26);
}
.red {
  border: 2px solid rgba(255, 0, 0, 0.267);
}

/* styles for index */

aside {
  height: 75vh;
  /* border: 1px solid grey; */
  overflow-y: scroll;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
/* ::-webkit-scrollbar{
  width: 0;
} */
article {
  width: 100%;
  padding: 0.8rem 0.3rem;
  /* border: 1px solid grey; */
  margin: 1rem 0;
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.8),
    0px 0px 3px rgba(0, 0, 0, 0.5);
}

/* .incomeData legend, .expenseData legend{
  margin-left: 1rem;
} */

article legend {
  margin-left: 1rem;
}

.allcategories {
  margin: 1rem 0;
}
.allcategories > a {
  border: 1px solid grey !important;
  padding: 0.3rem 1rem;
  display: block;
  margin: 0.3rem;
  border-radius: 0.3rem;
}
.flex_wrap {
  flex-wrap: wrap;
}
.display {
  height: 75vh;
  overflow-y: scroll;
  padding: 1rem;
  margin: 1rem;
}
::-webkit-scrollbar {
  width: 0;
}
/* header  */

header {
  width: 99%;
  border-bottom: 1px solid grey;
  padding: 1rem 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: bolder;
}
header nav a {
  margin-left: 1rem;
}
.logout {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.466);
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  color: white;
}
header li {
  font-size: 0.8rem;
}
.edit_delete {
  margin-top: 1rem;
}
.edit_delete a {
  border: 1px solid grey;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
}
.edit_delete .edit {
  background: rgb(135, 207, 235);
}
.edit_delete .delete {
  background: rgba(0, 0, 0, 0.685);
}
.results article {
  width: 80%;
}

/* footer */

footer {
  padding: 0.6rem 0;
  width: 100%;
  background: rgba(5, 5, 5, 0.671);
}
footer span {
  display: block;
  margin: auto;
  text-align: center;
  color: white;
}
.username {
  margin-left: 5rem;
  color: green;
}
.username h4 {
  margin-left: 0.5rem;
}

.savings{
  text-align: center;
}
.logout {
  background-color: crimson;
}
.header_new {
  background-color: #EAFCF1;
  padding: 0.5rem;
}
/* .edit_new {
  background-color: #50A344;
   */
/* } */
body {
  font-family: 'Open Sans', sans-serif;
}
