<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resistration</title>
</head>

<body>
    <form method="POST" action="/users/register">
        <input type="text" name="name" placeholder="Enter name" />
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input type="text" name="age" placeholder="age" />
        <input type="number" name="phone" placeholder="email" />
        <input type="text" name="country" placeholder="country" />
        <input type="submit" value="Add User" />
    </form>
</body>

</html>